---
import Container from "../../shared/Container.astro";
import Slider from "../slider/Sliders.astro";
---

<section id="block_five">
    <Container
        className="flex flex-col midmd:flex-row gap-10 lg:gap-12 mb-[104px]"
    >
        <div class="wrapper_tech">
            <div class="heading">Кто уже использует <br /> платформу</div>
            <Slider />
        </div>
    </Container>
</section>
<style lang="scss">
    $font-family_1: "Montserrat", sans-serif;
    .wrapper_tech {
        overflow: hidden;
    }
    .heading {
        font-size: 36px;
        font-family: $font-family_1;
        text-align: left;
    }
    @media (min-width: 1900px) {
        .heading {
            font-size: 48px;
            padding: 0;
            margin-top: 138px;
            line-height: 56px;
            margin-bottom: 25px;
        }
    }
</style>
