---
import Container from "../../shared/Container.astro";
---

<section id="block_three">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="wrapper_deliveries">
            <div class="heading">Форматы <br /> поставок ВКУРСЕ</div>
            <ul>
                <li>
                    <div class="title">Корпоративное <br /> облако</div>
                    <div class="description">Все как в Zoom, только лучше!</div>
                    <button><a href="/corporateCloud">Подробнее</a></button>
                </li>
                <li>
                    <div class="title">Частное <br /> облако</div>
                    <div class="description">
                        Полностью выделенная <br class="br-tablet" />облачная <br
                            class="br-desktop"
                        />
                         инфраструктура под <br class="br-tablet" />
                         Клиента
                    </div>
                    <button
                        ><a href="/forLargeCorporateClients">Подробнее</a
                        ></button
                    >
                </li>
                <li>
                    <div class="title">Гибридное <br /> облако</div>
                    <div class="description">
                         В разы дешевле «Серверного <br class="br-tablet" /> решения» <br class="br-desktop" /> и с той же степенью <br
                         class="br-tablet" /> защищённости данных!
                    </div>
                    <button><a href="/corporateCloud">Подробнее</a></button>
                </li>
            </ul>
        </div>
    </Container>
</section>
<style lang="scss">
    $color_1: #fff;
    $color_2: #53627a;
    $font-family_1: "Montserrat", sans-serif;
    $colors: #623cea, #009373, #001d31;

    .heading {
        font-size: 36px;
        font-family: $font-family_1;
        text-align: left;
    }
    .wrapper_deliveries {
        width: 100%;
        margin-bottom: 104px;
    }
    .br-tablet {
        display: block;
    }
    .br-desktop {
        display: none;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: stretch;
        text-align: center;
        > li {
            width: 328px;
            height: 432px;
            border-radius: 24px;
            margin-top: 24px;
            text-align: left;
            padding: 24px 20px;
            color: $color_1;
            position: relative;
            button {
                width: 136px;
                height: 44px;
                background: url(/images/arrow_right.png) no-repeat top 50% right
                    12px #fff;
                background-size: 16px;
                color: $color_2;
                border-radius: 12px;
                padding-left: 16px;
                text-align: left;
                font-size: 16px;
                position: absolute;
                bottom: 24px;
                left: 24px;
            }
            @for $i from 1 through length($colors) {
                &:nth-child(#{$i}) {
                    background: url(/images/deliveriesContent#{$i}.png)
                        no-repeat
                        bottom
                        0
                        left
                        0
                        nth($colors, $i);
                    background-size: contain;
                    .title {
                        background: url(/images/Icon#{$i}.png)
                            no-repeat
                            bottom -22px
                            left -10px;
                        background-size: 104px;
                    }
                }
            }
            .title {
                font-size: 20px;
                font-family: $font-family_1;
                padding-left: 93px;
                margin-bottom: 16px;
                line-height: 28px;
                font-weight: 600;
            }
        }
    }
    @media (max-width: 1022px) {
        .wrapper_deliveries {
            ul {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
    @media (min-width: 1900px) {
        #block_three {
            padding-top: 172px;
            .heading {
                font-size: 48px;
                padding: 0;
                line-height: 58px;
                margin-bottom: 42px;
                margin-top: 35px;
            }
            ul {
                gap: 24px;
                > li {
                    width: 32.2%;
                    background-size: cover !important;
                    height: 480px;
                    padding: 28px 20px;
                    .title {
                        font-size: 32px;
                        padding-left: 107px;
                        line-height: 35px;
                        background-size: 124px;
                        margin-bottom: 14px;
                    }
                    .description {
                        padding: 8px 11px;
                        letter-spacing: 0.16px;
                    }
                    .br-tablet {
                        display: none;
                    }
                    .br-desktop {
                        display: block;
                    }
                    button {
                        background: url(/images/arrow_right.png) no-repeat top
                            50% right 16px #fff;
                        background-size: 16px;
                        padding-left: 15px;
                        a {
                            font-size: 14px;
                            letter-spacing: 0.1px;
                        }
                    }
                }
            }
        }
    }
</style>
