---
export interface Props {
    href: string;
    text: string;
}
const { href, text } = Astro.props;
---

<a
    href={href}
    class=`duration-300 text-base ease-linear hover:text-primary py-3`
>
    {text}
</a>

<style>
    a {
        font-size: 14px;
    }
</style>
