---
import Container from "../../shared/Container.astro";
---

<section id="block_five">
	<Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
		<div class="wrapper_business">
			<div class="wrapper_container" id="wrapper_corporate_client_hibrid_cloud">
				<div class="container_grid">
					<div class="box-1">
						<div class="title">Гибридное облако</div>
						<div class="pod_title">
							Микс «Частного облака» и «Серверного решения» ПО «ВКУРСЕ»
						</div>
                        <div class="pod_title">
							Включает все, что и формат «Частного облака»
						</div>
						<ul class="wrapper_discription">
							<li>Подойдет тем Организациям, кто хочет секьюрность формата “Серверного решения”, но за разумные деньги</li>
							<li>
								Нет нужды в администрировании инфраструктуры и ее сопровождении
							</li>
						</ul>
						<button><div>Подробнее</div></button>
					</div>
					<div class="box-2">
						<div class="title">
							Все «чувствительные» данные находятся в контуре Клиента
						</div>
					</div>
					<div class="box-3">
						<div class="title">Полный SLA</div>
						<div class="discription">
							Доступность сервиса 99,98%
						</div>
					</div>
					<div class="box-4">
						<div class="title">Нет необходимости в закупке дорогостоящих серверов</div>
					</div>
					<div class="box-5">
						<div class="title">
                            Интеграция с корпоративными системами
						</div>
					</div>
				</div>
			</div>
		</div>
	</Container>
</section>
<style lang="scss">
	$color_1: #fff;
	$color_2: #53627a;
	$color_3: #d0daeb;
	$font-family_1: sans-serif;
	$font-family_2: "Montserrat", sans-serif;
	$background-color_1: skyblue;

    #block_five {
        margin-top: 80px;
    }

	.wrapper_container {
		width: 100%;
    }
	.wrapper_business {
		font-family: $font-family_1;
		font-size: 40px;
		width: 100%;
	}
	.heading {
		font-size: 36px;
		font-family: $font-family_2;
		text-align: center;
		margin-bottom: 80px;
		margin-top: 50px;
	}
	[class^="box-"] {
		display: grid;
		place-items: center;
		border-radius: 32px;
		background: #EBFFFB;
		padding: 32px 28px;
        min-height: 240px;
		> .title {
			font-size: 16px;
			font-family: $font-family_2;
		}
		> .discription {
			font-size: 16px;
            font-weight: 100;
		}
	}
	.container_grid {
		display: grid;
		gap: 20px;
		grid-template-areas:
        "B B B B B B A A A A A A" 
        "B B B B B B A A A A A A" 
        "B B B B B B A A A A A A" 
        "E E E E E E A A A A A A" 
        "E E E E E E A A A A A A" 
        "E E E E E E A A A A A A" 
        "C C C C C C D D D D D D" 
        "C C C C C C D D D D D D";
		justify-content: center;
		margin-top: 50px;
	}
	.box-1 {
		grid-area: A;
		background: #001D31;
		position: relative;
		padding: 50px 24px;
		color: $color_1;
		display: grid;
		justify-items: start;
		align-content: flex-start;
		&::after {
			content: "";
			position: absolute;
			top: -60px;
			left: 50%;
			transform: translateX(-50%);
			height: 100px;
			width: 162px;
			background: url(/images/gybrid_cloud_icon1.png) no-repeat center;
			background-size: cover;
		}
	}
	.box-3 {
		grid-area: C;
        padding-top: 130px;
        background: url(/images/forLargeCorporateClients/Icon3.png) no-repeat center top 20px #EBFFFB;
        background-size: 100px;
	}
	.box-4 {
		grid-area: D;
        padding: 80px 32px;
	}
	.box-2 {
		grid-area: B;
	}
	.box-5 {
		grid-area: E;
        padding-top: 100px;
        background: url(/images/forLargeCorporateClients/Icon3.png) no-repeat center top 20px #EBFFFB;
        background-size: 100px;
	}
	.wrapper {
		font-size: 14px;
	}
	button {
		height: 44px;
		text-align: center;
		border-radius: 12px;
		font-size: 14px;
		color: $color_2;
		width: 91%;
		position: absolute;
		bottom: 23px;
		left: 50%;
		transform: translateX(-50%);
		background: #fff;
		background-size: 16px;
		div {
			padding: 10px 20px;
			display: inline;
			background: url(/images/arrow_right.png) no-repeat right top 50%;
			background-size: 16px;
		}
	}
	.pod_title {
		color: $color_3;
		padding: 16px 0 24px 0;
		font-size: 16px;
		font-family: $font-family_2;
        text-align: center;
		+ {
			.pod_title {
				font-family: $font-family_2;
				padding-top: 0;
			}
		}
	}
	.title {
		font-size: 24px;
		width: 100%;
		text-align: center;
	}
	.discription {
		text-align: center;
		font-weight: 400;
	}
	ul {
		> li {
			&:nth-child(1) {
				position: relative;
			}
			text-align: left;
			font-size: 14px;
			margin-bottom: 20px;
			padding-left: 33px;
			background: url(/images/mini_arrow.png) no-repeat left top;
			background-size: 16px;
		}
	}

	@media (max-width: 1070px) {
		.wrapper_container {
			overflow-y: auto;
			.container_grid {
				justify-content: normal;
				height: 580px;
                width: 1000px;
				grid-template-areas:
					"A A A B B B B D D D D"
					"A A A B B B B D D D D"
					"A A A B B B B D D D D"
					"A A A E E E E D D D D"
					"A A A E E E E D D D D"
					"A A A E E E E C C C C"
					"A A A E E E E C C C C"
					"A A A E E E E C C C C";
				.box-1 {
					grid-area: A;
					width: 300px;
				}
				.box-2 {
					grid-area: B;
				}
				.box-3 {
					grid-area: E;
					max-height: initial;
				}
				.box-4 {
					grid-area: C;
					max-height: initial;
				}
				.box-5 {
					grid-area: D;
				}
			}
		}
	}
</style>
