---
export interface Props {
    href: string;
}
const { href } = Astro.props;
---

<div class="slide">
    <div
        class="logos"
        style=`background: url(../../public/images/${href}) no-repeat center;background-size: contain;`
    >
    </div>
</div>
<style>
    .slide {
        padding: 20px;
    }
    .logos {
        width: 250px;
        height: 100px;
        background-size: contain;
    }
    @media (min-width: 1900px) {
        .slide {
            padding: 20px 58px;
        }
    }
</style>
