---
import Layout from "../layouts/Layout.astro";
import BlockOne from '../components/sections/corporateCloud/BlockOne.astro'
import BlockTwo from '../components/sections/corporateCloud/BlockTwo.astro'
import BlockThree from '../components/sections/corporateCloud/BlockThree.astro'
import BlockFour from '../components/sections/corporateCloud/BlockFour.astro'
import BlockFive from '../components/sections/corporateCloud/BlockFive.astro'
import BlockSix from '../components/sections/corporateCloud/BlockSix.astro'
import BlockSeven from '../components/sections/corporateCloud/BlockSeven.astro'
---

<Layout 
title="ВКурсе | Корпоративное облако"
description="Российская платформа для проведения мероприятий от 50 до 10000 участников"
>
	<main>
        <BlockOne />
		<BlockTwo />
		<BlockThree />
		<BlockFour />
		<BlockFive />
		<BlockSix />
		<BlockSeven />
	</main>
</Layout>
<style lang="scss">

</style>