---
import Layout from "../layouts/Layout.astro";
import BlockOne from '../components/sections/forLargeCorporateClients/BlockOne.astro'
import BlockTwo from '../components/sections/forLargeCorporateClients/BlockTwo.astro'
import BlockThree from '../components/sections/forLargeCorporateClients/BlockThree.astro'
import BlockFour from '../components/sections/forLargeCorporateClients/BlockFour.astro'
import BlockFive from '../components/sections/forLargeCorporateClients/BlockFive.astro'
import BlockSix from '../components/sections/forLargeCorporateClients/BlockSix.astro'
import BlockSeven from '../components/sections/forLargeCorporateClients/BlockSeven.astro'
import BlockTabs from '../components/sections/forLargeCorporateClients/BlockTabs.astro'
---

<Layout 
title="ВКурсе | Платформа для крупных корпоративных клиентов"
description="Российская платформа для проведения мероприятий от 50 до 10000 участников"
>
	<main>
        <BlockOne />
        <BlockTwo />
        <BlockThree />
        <BlockFour />
        <BlockFive />
        <BlockSix />
        <BlockTabs />
        <BlockSeven />
	</main>
</Layout>
<style lang="scss">

</style>