---
import Layout from "../layouts/Layout.astro";
import BlockOne from '../components/sections/forPartners/BlockOne.astro'
import BlockTwo from '../components/sections/forPartners/BlockTwo.astro'
import BlockThree from '../components/sections/forPartners/BlockThree.astro'
import BlockFive from '../components/sections/forPartners/BlockFive.astro'
import BlockSix from '../components/sections/forPartners/BlockSix.astro'
import BlockSeven from '../components/sections/forPartners/BlockSeven.astro'
import BlockEight from '../components/sections/forPartners/BlockEight.astro'
---

<Layout 
title="ВКурсе | Развивайте своих Клиентов"
description="Российская платформа для проведения мероприятий от 50 до 10000 участников"
>
	<main>
		<BlockOne />
		<BlockTwo />
		<BlockThree />
		<BlockFive />
		<BlockSix />
		<BlockSeven />
		<BlockEight />
	</main>
</Layout>
<style lang="scss">
	main {
		overflow: hidden;
	}
</style>
