---
import Layout from "../layouts/Layout.astro";
import BlockOne from "../components/sections/mainPain/BlockOne.astro";
import BlockTwo from "../components/sections/mainPain/BlockTwo.astro";
import BlockThree from "../components/sections/mainPain/BlockThree.astro";
import BlockFour from "../components/sections/mainPain/BlockFour.astro";
import BlockFive from "../components/sections/mainPain/BlockFive.astro";
import BlockSix from "../components/sections/mainPain/BlockSix.astro";
import BlockSeven from "../components/sections/mainPain/BlockSeven.astro";
import BlockEight from "../components/sections/mainPain/BlockEight.astro";
import BlockNine from "../components/sections/mainPain/BlockNine.astro";
import BlockTen from "../components/sections/mainPain/BlockTen.astro";
import BlockTwelve from "../components/sections/mainPain/BlockTwelve.astro";
import BlockThirteen from "../components/sections/mainPain/BlockThirteen.astro";
import BlockTariff from "../components/sections/mainPain/Tariffs.astro";

---

<Layout 
title="ВКурсе | Онлайн-платформа c мессенджером для проведения совещаний" 
description="Российская платформа для проведения мероприятий от 50 до 10000 участников"
>
	<main>
		<BlockOne />
		<BlockTwo />
		<BlockThree />
		<BlockFour />
		<BlockFive />
		<BlockSeven />
		<BlockEight />
		<BlockNine />
		<BlockTen />
		<BlockTariff />
		<BlockTwelve />
		<BlockThirteen />
	</main>
</Layout>
<style lang="scss">

</style>