---
import Container from "../../shared/Container.astro";
---

<section id="block_one">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="wrapper">
            <div class="bock_left">
                <div class="title mb-[40px]">ВКУРСЕ — <br> корпоративное <br> облако</div>
                <div class="discription">
                    Легкий и быстрый вариант использования профессионального решения в организации.<br>
                    Не требует установки ПО и привлечения системного администратора
                </div>
                <div class="wrapper_button">
                    <a href="/tariffs"><button class="tarifs"><div>Тарифы</div></button></a>
                    <button class="connect"><a href="#contacts" class="flex h-full items-center justify-center">Связаться с нами</a></button>
                </div>
            </div>
        </div>
    </Container>
</section>
<h1 class="hidden-h1">ВКУРСЕ — корпоративное облако</h1>

<style lang="scss">
    .wrapper {
        width: 100%;
        background: url(/images/corporateCloud/Illustration.png) no-repeat top right;
        background-size: contain;
        padding: 16px 0;
    }
    .bock_left {
        width: 480px;
    }
    .hidden-h1 {
      position: absolute;
      left: -9999px;
      top: -9999px;
    }
    .title {
        font-size: 36px;
        font-family: "Montserrat", sans-serif;
        line-height: 60px;
    }
    .discription {
        font-size: 18px;
        color: #1c2129;
        font-weight: 400;
        line-height: 28px;
    }
    button {
        &.tarifs {
            width: 145px;
            height: 56px;
            background: #009373;
            background-size: 15px;
            color: #fff;
            border-radius: 16px;
            text-align: left;
            padding-left: 20px;
            margin-top: 40px;
            &:hover {
                background: #00765c;
            }
            div {
                position: relative;
                display: inline;
                &:after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    top: 0;
                    right: -26px;
                    position: absolute;
                    background: url(/images/Arrow.png) no-repeat top 50% right;
                    background-size: 15px;
                }
            }
        }
        &.connect {
            width: 185px;
            height: 56px;
            background-size: 15px;
            color: #53627a;
            border-radius: 16px;
            border: 2px solid #d0daeb;
            text-align: center;
            margin-top: 40px;
            margin-left: 16px;
            &:hover {
                border-color: #a7b7d0;
            }
        }
    }
    @media (max-width: 1075px) {
        .title {
            font-size: 24px;
        }
        .wrapper {
            background: url(/images/corporateCloud/Illustration.png) no-repeat
                top center;
            background-size: 58vw;
            padding-top: 50vw;
            br {
                display: none;
            }
        }
        .bock_left {
            width: 100%;
        }
    }
    @media (max-width: 550px) {
        .wrapper_button {
            display: flex;
            flex-direction: column;
            button {
                margin: 10px 0 0 0;
                width: 100%;
                text-align: center;
                padding: 0;
                &:first-child {
                    margin-top: 20px;
                }
                &.tarifs {
                    div {
                        position: relative;
                        display: inline;
                        &:after {
                            content: "";
                            width: 20px;
                            height: 20px;
                            top: 0;
                            right: -26px;
                            position: absolute;
                            background: url(/images/Arrow.png) no-repeat top 50%
                                right;
                            background-size: 15px;
                        }
                    }
                }
            }
        }
    }
</style>
