---
import Container from "../../../../shared/Container.astro";
import AdditionalModules from "../AdditionalModules.astro";
import InnerTab from "./InnerTabsTariffs.astro";
import Systems from "../Systems.astro";
---

<script>
    import { Tab, initTE } from "tw-elements";
    initTE({ Tab });
</script>
<section id="block_test_tariffs">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div>
            <!--Tabs navigation-->
            <ul class="upper_level" role="tablist" data-te-nav-ref>
                <li role="presentation" class="">
                    <a
                        href="#tabs-home02"
                        class="my-2 block"
                        data-te-toggle="pill"
                        data-te-target="#tabs-home02"
                        data-te-nav-active
                        role="tab"
                        aria-controls="tabs-home02"
                        aria-selected="true">Для встреч</a
                    >
                </li>
                <li role="presentation" class="">
                    <a
                        href="#tabs-profile02"
                        class="my-2 block"
                        data-te-toggle="pill"
                        data-te-target="#tabs-profile02"
                        role="tab"
                        aria-controls="tabs-profile02"
                        aria-selected="false">Для вебинаров</a
                    >
                </li>
                <li role="presentation" class="">
                    <a
                        href="#tabs-messages02"
                        class="my-2 block"
                        data-te-toggle="pill"
                        data-te-target="#tabs-messages02"
                        role="tab"
                        aria-controls="tabs-messages02"
                        aria-selected="false">Для организаций</a
                    >
                </li>
                <li role="presentation" class="">
                    <a
                        href="#tabs-contact02"
                        class="my-2 block"
                        data-te-toggle="pill"
                        data-te-target="#tabs-contact02"
                        role="tab"
                        aria-controls="tabs-contact02"
                        aria-selected="false">Для вузов</a
                    >
                </li>
                <li role="presentation" class="">
                    <a
                        href="#tabs-online02"
                        class="my-2 block"
                        data-te-toggle="pill"
                        data-te-target="#tabs-online02"
                        role="tab"
                        aria-controls="tabs-online02"
                        aria-selected="false">Онлайн-трансляции</a
                    >
                </li>
            </ul>
            <div class="mb-6">
                <div
                    class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                    id="tabs-home02"
                    role="tabpanel"
                    aria-labelledby="tabs-home-tab02"
                    data-te-tab-active
                >
                    <InnerTab />
                </div>
                <div
                    class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                    id="tabs-profile02"
                    role="tabpanel"
                    aria-labelledby="tabs-profile-tab02"
                >
                    Tab 2 content
                </div>
                <div
                    class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                    id="tabs-messages02"
                    role="tabpanel"
                    aria-labelledby="tabs-profile-tab02"
                >
                    Tab 3 content
                </div>
                <div
                    class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                    id="tabs-contact02"
                    role="tabpanel"
                    aria-labelledby="tabs-contact-tab02"
                >
                    Tab 4 content
                </div>
                <div
                    class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                    id="tabs-online02"
                    role="tabpanel"
                    aria-labelledby="tabs-online-tab02"
                >
                    Tab 5 content
                </div>
            </div>
        </div>
        <AdditionalModules />
        <Systems />
    </Container>
</section>
<style lang="scss">
    #block_test_tariffs {
        background: #f3f6fa;
        padding: 100px 0;
        .upper_level {
            display: flex;
            justify-content: space-between;
            li {
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        a {
                            background: url(/images/tab/Tab#{$i}.png)
                                no-repeat
                                left
                                10px
                                bottom
                                #fff;
                            background-size: contain;
                            width: 193px;
                            height: 80px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 2px solid transparent;
                            color: #53627a;
                            border-radius: 16px;
                            display: flex;
                            justify-content: flex-start;
                            padding-left: 84px;
                            font-size: 14px;
                            &[data-te-nav-active] {
                                background: url(/images/tab/Tab#{$i}.png)
                                    no-repeat
                                    left
                                    10px
                                    bottom
                                    #ebfffb;
                                border: 2px solid #009373;
                                color: #1c2129;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }
    }
</style>
