---
const { index } = Astro.props;
---

<div
    class="video"
    style={`background: url(/images/IllustrationTab${index}.png) center no-repeat;`}
>
</div>
<style>
    .video {
        width: 100%;
        height: 100%;
        background-size: contain !important;
    }
    @media (max-width: 665px) {
        .video {
            min-width: 100%;
            min-height: 400px;
        }
    }
</style>
