<div class="AdditionalModules">
    <a href="">Дополнительные модули</a>
</div>
<style>
    .AdditionalModules {
        height: 80px;
        color: #0093f5;
        background: #fff;
        margin-top: 8px;
        margin-bottom: 8px;
        display: flex;
        align-content: flex-end;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
</style>
