<h1 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">
    <slot/>
</h1>
<style>
    h1 {
        font-size: 44px;
        color: #1C2129;
        text-align: center;
        padding: 20px;
    }
</style>